---
layout: default
---
<div class="node-current">
    <header class="node-title">
        <h1><a href="n/{{name}}">{{title}}</a></h1>
        <div class="pubdate">{{formatDate time "%d %b %Y"}}</div>
    </header>
    <div class="node-content">{{#markdown}}{{> body}}{{/markdown}}</div>
</div>
{{#ul next class="node-next"}}<a href="n/{{name}}">{{title}}</a>{{/ul}}
